<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/1.8_admin_stats.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <title>Stats</title>
</head>

<body>
    <div id="main">
        <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
            <div class="container-fluid" style="width:80%">
                <a class="navbar-brand" href="/adminhome">Library Management System</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <form class="d-flex" role="search" action="/adminsearch" method="post">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search_query">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    </ul>
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/admindash">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/checkrequests">Requests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/transactionshistory">History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/viewusers">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/adminstats">Stats</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/adminlogout">Logout</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>



        <div id="canvas">
            
            <img src="data:image/png;base64,{{chart_image1}}" alt="">
            <img src="data:image/png;base64,{{chart_image2}}" alt="">



            

        </div>
    </div>


</body>

</html>